{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div id="main">
        <div id="vue-film">
            <div id="film+affiche">
                <img src={{ asset(film.affiche) }}>
                <div id="film">
                    <h2>{{ film.titre }}</h2>
                    <p>Année de sortie : {{ film.anneeSortie }}</p>
                    <p>Producteurs : {{ producteurs }}</p>
                    <p>Réalisateurs : {{ realisateurs }}</p>
                    <p>Acteurs : {{ acteurs }}</p>
                </div>
            </div>
            <div id="synopsis">
                <h3>Synopsis : </h3>
                <p>{{ film.synopsis | raw }}</p>
            </div>
            {% if form != null %}
                {{ form(form) }}
            {% endif %}
        </div>
    </div>

{% endblock %}
